name: Build and sign iOS

on:
  pull_request:
    branches: ["main"]

jobs:
  build-ios:
    name: Build Flutter iOS
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
          bundler-cache: true
          working-directory: ios

      - name: Auth codesigning
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: "${{ secrets.SSH_PRIVATE_KEY }}"

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Run Fastlane
        uses: maierj/fastlane-action@v2.3.0
        with:
          lane: ios release
          subdirectory: ios
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          APPSTORECONNECT_PRIVATE_KEY: "${{ secrets.APPLE_API_KEY }}"
